!!!
%html{:lang => "en-US"}
  %head
    = stylesheet_link_tag '/assets/application'
    = javascript_include_tag '/assets/application'
    %title Sass Teamplate

  %body
    #wrapper
      = partial "home_page/header"
      = partial "layouts/header-under"
      = partial "layouts/navbar.html"
    = yield